html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*.container-fluid {*/
/*  flex-grow: 1;*/
/*}*/

body.light-theme {
    /*background-color: #b9babb;*/
    background: rgb(248,249,250);
    background: linear-gradient(180deg, rgba(248,249,250,1) 0%, rgba(248,249,250,1) 45%, rgba(148,152,156,1) 100%);
    color: #222222; /* This is the default text color for light theme */
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body.light-theme .custom-navbar {
    background-color: #808181; /* This is the default light background color for navbar-light */
    color: #222222; /* This is the default dark text color for navbar-light */
}

/* Define styles for the dark theme */
body.dark-theme {
  /*background-color: #343a41;*/
    background: rgb(33,37,41);
background: linear-gradient(180deg, rgba(33,37,41,1) 0%, rgba(33,37,41,1) 45%, rgba(99,107,115,1) 100%);
    color: #eeeeee;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body.dark-theme .custom-navbar {
  background-color: #343a41; /* This is the default dark background color for navbar-dark */
  color: #eeeeee; /* This is the default light text color for navbar-dark */
}

/* Additional styles to ensure text color is readable in light theme */
body.light-theme .custom-navbar .navbar-brand,
body.light-theme .custom-navbar .nav-link {
  color: #212529; /* Adjust this to a darker color for better readability */
}

/* Additional styles to change the navbar-toggler color in light theme */
body.light-theme .custom-navbar .navbar-toggler {
  color: #212529; /* Set the color of the toggler icon */
  border-color: #212529; /* Set the color of the toggler border */
}

body.light-theme .custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); /* Set the color of the toggler icon */
}

.theme-toggle.active {
  font-weight: bold;
}

.image-container {
    position: relative;
    width: 95vw; /* 95% of the viewport width */
    left: 50%;
    transform: translateX(-50%);
}

.image-container img {
    width: 100%; /* Ensures the image takes up the full width of its container */
    height: auto; /* Maintains the aspect ratio */
}