{% extends "base.html" %}
{% block title %} Root {% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block top_message %}
<div class="{{ top_message.class }}" role="alert">
    {{ top_message.icon | safe }}
    {% if user %}
        {{ user.username | safe }}{{ top_message.text | safe }}  !!!
    {% else %}
        User{{ top_message.text | safe }}!!!
    {% endif %}
</div>
{% endblock %}

{% block unsplash_content %}
    <img src="{{ unsplash_photo }}" alt="Cosmos Image" class="img-fluid" id="unsplash-main">
{% endblock %}

{% block footer_content %}
    Photo by <a href="https://unsplash.com/"
                style="text-decoration: None; color: #ffffff">Unsplash</a>
{% endblock %}

{% block scripts %} {{ super() }} {% endblock %}
