{% extends "base.html" %}
{% block title %} Login page {% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block form_content %}
  <form action="/login" method="post">
    <legend>Login Form</legend>
    <label for="username" class="form-label">Username:</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      required
    />
    <br />
    <label for="password" class="form-label">Password:</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      required
    />
    <br />
    <input type="submit" class="btn btn-dark" value="Submit" />
  </form>
{% endblock %}

{% block page_content %}
{% endblock %}

{% block scripts %} {{ super() }} {% endblock %}
