{% extends "base.html" %}
{% block title %} Profile page {% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block form_content %}
  <form action="/protected/profile/{{ profile.user_id }}/update" method="post" enctype="multipart/form-data">
    <legend>Your profile</legend>

    <div class="row">
      <div class="col">
        <img src="data:image/png;base64,{{ profile.photo }}" class="small-image" alt="User Photo" >
      </div>
      <div class="col">
        <legend>Username: {{ profile.username }}</legend>
        <legend>Email: {{ profile.email }}</legend>
      </div>



    </div>

    <div class="row">
      <div class="col">
        <label for="first_name" class="form-label">First name:</label>
        <input
          class="form-control"
          type="text"
          id="first_name"
          name="first_name"
          value="{{ profile.first_name if profile.first_name is not none }}"
          placeholder="Enter your first name"
        />
      </div>
      <div class="col">
        <label for="last_name" class="form-label">Last name:</label>
        <input
          class="form-control"
          type="text"
          id="last_name"
          name="last_name"
          value="{{ profile.last_name if profile.last_name is not none }}"
          placeholder="Enter your last name"
        />
      </div>
    </div>

    <div class="mb-3">
      <label for="phone_number" class="form-label">Phone Number:</label>
      <input
        class="form-control"
        type="tel"
        id="phone_number"
        name="phone_number"
        value="{{ profile.phone_number if profile.phone_number is not none }}"
        placeholder="Enter your phone number"
      />
    </div>

    <div class="mb-3">
      <label for="photo" class="form-label">Photo:</label>
      <input class="form-control" type="file" id="photo" name="photo" />
    </div>

    <div class="mb-3">
      <label for="ass_size" class="form-label">Ass size:</label>
      <input
        class="form-control"
        type="number"
        id="ass_size"
        name="ass_size"
        value="{{ profile.ass_size if profile.ass_size is not none  }}"
        placeholder="Enter your ass size"
      />
    </div>

    <div class="mb-3">
      <input type="submit" class="btn btn-success" value="Save changes" />
      <a href="/" class="btn btn-secondary" role="button">Cancel</a>
    </div>

    <div class="border border-danger rounded">
        <div class="container" style="margin: 5px">
          <label for="delete-button" class="form-label">Warning: A deleted account cannot be restored</label>
          <a href="/protected/profile/{{ profile.user_id }}/delete" class="btn btn-danger btn-sm" role="button" id="delete-button">Delete Account</a>
        </div>
    </div>

  </form>
{% endblock %}

{% block page_content %}
{% endblock %}
{% block scripts %} {{ super() }} {% endblock %}
