{% extends "base.html" %}
{% block title %} Profile page {% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block page_content %}
  <form action="/protected/profile/{{ profile.user_id }}/update" method="post" enctype="multipart/form-data">
    <h2>Your profile</h2>

    <div class="row">

      <div class="col-4 col-sm-3">
            <img id="avatar" src="data:image/png;base64,{{ profile.photo }}" class="img-fluid" alt="User Photo">
      </div>

      <div class="col-8 col-sm-9">
        <h3>Username: {{ profile.username }}</h3>
        <h3>Email: {{ profile.email }}</h3>
      </div>

    </div>

    <div class="row">
      <div class="col">
        <label for="first_name" class="form-label">First name:</label>
        <input
          class="form-control"
          type="text"
          id="first_name"
          name="first_name"
          value="{{ profile.first_name if profile.first_name is not none }}"
          placeholder="Enter your first name"
        />
      </div>
      <div class="col">
        <label for="last_name" class="form-label">Last name:</label>
        <input
          class="form-control"
          type="text"
          id="last_name"
          name="last_name"
          value="{{ profile.last_name if profile.last_name is not none }}"
          placeholder="Enter your last name"
        />
      </div>
    </div>

    <div class="mb-3">
      <label for="phone_number" class="form-label">Phone Number:</label>
      <input
        class="form-control"
        type="tel"
        id="phone_number"
        name="phone_number"
        value="{{ profile.phone_number if profile.phone_number is not none }}"
        placeholder="Enter your phone number"
      />
    </div>

    <div class="mb-3">
      <label for="photo" class="form-label">Photo:</label>
      <input class="form-control" type="file" id="photo" name="photo" />
    </div>

    <div class="mb-3">
      <label for="ass_size" class="form-label">Ass size:</label>
      <input
        class="form-control"
        type="number"
        id="ass_size"
        name="ass_size"
        value="{{ profile.ass_size if profile.ass_size is not none  }}"
        placeholder="Enter your ass size"
      />
    </div>

    <div class="mb-3">
      <input type="submit" class="btn btn-success" value="Save changes" />
      <a href="/" class="btn btn-secondary" role="button">Cancel</a>
    </div>

    <div class="border border-danger rounded">
        <div class="container" style="margin: 5px">
          <label for="delete-button" class="form-label">Warning: A deleted account cannot be restored</label>
          <a href="/protected/profile/{{ profile.user_id }}/delete" class="btn btn-danger btn-sm" role="button" id="delete-button">Delete Account</a>
        </div>
    </div>

  </form>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    // Function to preview the avatar before uploading
      function previewAvatar(event) {
          // Check if the event target is the avatar image
          if (event.target.files && event.target.files[0]) {
              var reader = new FileReader();
              reader.onload = function(e) {
                  var output = document.getElementById('avatar');
                  output.src = e.target.result;
              }
              reader.readAsDataURL(event.target.files[0]);
          }
      }

      // Add event listener to the file input
      document.getElementById('photo').addEventListener('change', previewAvatar);

      // Update the file name display when a file is selected
      document.getElementById('photo').addEventListener('change', function(event) {
          var output = document.getElementById('fileNameDisplay');
          output.textContent = event.target.files[0].name;
      });
  </script>

{% endblock %}
